<div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <div
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr dark:from-indigo-800 dark:to-indigo-600 from-verde-500 to-verde-500 opacity-50 sm:left-[calc(50%-30rem)] sm:w-288.75">
    </div>
</div>

@if (!isLoading()) {

    @if (booking) {
        <section class="w-full py-8 mt-20">
            <div class="flex flex-col items-center justify-start px-4 mx-auto max-w-7xl">
                <h1 class="mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                    Pagamento da Rifa
                </h1>

                @if (isPaymentConfirmed()) {
                    <app-payment-confirmed [raffleName]="raffleName()" [acquiredNumbers]="acquiredNumbers()"></app-payment-confirmed>
                } @else {
                    <app-order-summary [booking]="booking"></app-order-summary>
                }
            </div>
        </section>
    }
} @else {
    <div class="flex items-center justify-center min-h-[400px]">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-indigo-600 dark:border-verde-500"></div>
    </div>
}

<div aria-hidden="true"
     class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
    <div
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr dark:from-indigo-800 dark:to-indigo-600 from-verde-500 to-verde-500 opacity-50 sm:left-[calc(50%+36rem)] sm:w-288.75">
    </div>
</div>