@if (showFooter()) {
<footer class="bg-gray-100 dark:bg-gray-800 rounded-2xl shadow-xs m-4 mt-30">
    <div class="w-full mx-auto max-w-7xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-body text-gray-950 dark:text-white sm:text-center">© 2023 <a
                href="https://flowbite.com/" class="hover:underline">Iff Road™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0">
            <li>
                <span class="hover:underline text-gray-950 dark:text-white me-4 md:me-6">Sistema de gestão para Ação
                    entre amigos e equipe com fins exclusivamente acadêmicos.</span>
            </li>
        </ul>
    </div>
</footer>
}