@if (showNavbar()) {
<header class="absolute inset-x-0 top-0 z-50 mb-20">
    <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img src="/logo-iff-road.png" alt="lotipo da equipe iff road" class="h-16 w-auto" />
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-gray-200">
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
                    aria-hidden="true" class="size-6">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a routerLink="/" class="text-sm/6 font-semibold text-gray-900 dark:text-white">Home</a>
            <a routerLink="/raffle" class="text-sm/6 font-semibold text-gray-900 dark:text-white">Rifas</a>
            <a routerLink="/gallery" class="text-sm/6 font-semibold text-gray-900 dark:text-white">Galeria</a>
            @if (isAdminOrOperator()) {
            <a routerLink="/dashboard/analytics" class="text-sm/6 font-semibold text-gray-900 dark:text-white">Dashboard</a>
            }
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            @if (!isAuthenticated()) {
            <a routerLink="/auth/login" class="text-sm/6 font-semibold text-gray-900 dark:text-white italic">Log in
                <span aria-hidden="true">&rarr;</span></a>
            } @else {
            <el-dropdown class="inline-block">
                <button
                    class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold dark:text-white text-gray-800">
                    <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2"
                            d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    Conta
                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                        class="-mr-1 size-5 text-gray-400">
                        <path
                            d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </button>

                <el-menu anchor="bottom end" popover
                    class="w-56 origin-top-right divide-y divide-white/10 rounded-md dark:bg-gray-800 bg-gray-100 outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
                    <div class="py-1">
                        <a routerLink="/my-bookings"
                            class="block px-4 py-2 text-sm dark:text-gray-300 text-gray-800 focus:bg-white/5 focus:text-gray-500 dark:focus:text-white focus:outline-hidden">Meus
                            Pedidos</a>
                        <!--  @if (getParticipantId()) {
                                 <a [routerLink]="['/payment', getParticipantId()]"
                                     class="block px-4 py-2 text-sm dark:text-gray-300 text-gray-800 focus:bg-white/5 focus:text-gray-500 dark:focus:text-white focus:outline-hidden">Pendentes</a>
                                 } -->
                    </div>
                    <div class="py-1">
                        <a (click)="logout()"
                            class="cursor-pointer block px-4 py-2 text-sm dark:text-gray-300 text-gray-800 focus:bg-white/5 focus:text-red-500 dark:focus:text-white focus:outline-hidden hover:text-red-900">Sair</a>
                    </div>
                </el-menu>
            </el-dropdown>
            }
        </div>
    </nav>
    <el-dialog>
        <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
            <div tabindex="0" class="fixed inset-0 focus:outline-none">
                <el-dialog-panel
                    class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 dark:bg-gray-900 dark:sm:ring-gray-100/10">
                    <div class="flex items-center justify-between">
                        <a routerLink="/" class="-m-1.5 p-1.5">
                            <span class="sr-only">Your Company</span>
                            <img src="/logo-iff-road.png" alt="" class="h-15 w-auto" />
                        </a>
                        <button type="button" command="close" commandfor="mobile-menu"
                            class="-m-2.5 rounded-md p-2.5 text-gray-700 dark:text-gray-200">
                            <span class="sr-only">Close menu</span>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                data-slot="icon" aria-hidden="true" class="size-6">
                                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10 dark:divide-white/10">
                            <div class="space-y-2 py-6">
                                <a routerLink="/"
                                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5">Home</a>
                                <a routerLink="/raffle"
                                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5">Rifas</a>
                                <a routerLink="/gallery"
                                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5">Galeria</a>
                                @if (isAdminOrOperator()) {
                                <a routerLink="/dashboard/analytics"
                                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5">Dashboard</a>
                                }
                                <!--<a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5">Company</a>-->
                            </div>
                            <div class="py-6">
                                @if (isAuthenticated()) {
                                <el-dropdown class="inline-block">
                                    <button
                                        class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-white">
                                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-width="2"
                                                d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                        Conta
                                        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
                                            class="-mr-1 size-5 text-gray-400">
                                            <path
                                                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                                clip-rule="evenodd" fill-rule="evenodd" />
                                        </svg>
                                    </button>

                                    <el-menu anchor="bottom end" popover
                                        class="w-56 origin-top-right divide-y divide-white/10 rounded-md bg-gray-800 outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
                                        <div class="py-1">
                                            <a routerLink="/my-bookings"
                                                class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 focus:text-white focus:outline-hidden">Meus
                                                Pedidos</a>
                                            <!-- @if (getParticipantId()) {
                                                    <a [routerLink]="['/payment', getParticipantId()]"
                                                        class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 focus:text-white focus:outline-hidden">Pendentes</a>
                                                    } -->
                                        </div>
                                        <div class="py-1">
                                            <a (click)="logout()"
                                                class="cursor-pointer block px-4 py-2 text-sm dark:text-gray-300 text-gray-800 focus:bg-white/5 focus:text-red-500 dark:focus:text-white focus:outline-hidden hover:text-red-900">Sair</a>
                                        </div>
                                    </el-menu>
                                </el-dropdown>
                                } @else {
                                <a routerLink="/auth/login"
                                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 dark:text-white dark:hover:bg-white/5">Log
                                    in</a>
                                }
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
</header>
}