<section class="max-w-7xl mx-auto py-8 mt-20 px-4">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">Meus Pedidos</h2>

  @if (isLoading()) {
  <app-loading-component></app-loading-component>
  } @else {
  @if (bookings().length === 0) {
  <p class="text-gray-500 dark:text-gray-400">Você ainda não tem nenhum pedido.</p>
  } @else {
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow px-6 divide-y divide-gray-200 dark:divide-gray-700">
    @for (booking of bookings(); track booking.id) {
    <div class="flex flex-wrap items-center gap-y-4 py-6">
      <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Order ID:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">
          <a [routerLink]="['/raffle', booking.raffleId]" class="hover:underline">#{{ booking.id | slice:0:8 | uppercase
            }}</a>
        </dd>
      </dl>

      <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Rifa:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">
          <a [routerLink]="['/raffle', booking.raffleId]" class="hover:underline">{{ booking.raffleName }}</a>
        </dd>
      </dl>

      <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Date:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">{{ booking.createdAt |
          date:'dd.MM.yyyy' }}</dd>
      </dl>

      <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Price:</dt>
        <dd class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white">{{ booking.totalAmount | currency:'BRL'
          }}</dd>
      </dl>

      <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
        <dt class="text-base font-medium text-gray-500 dark:text-gray-400">Status:</dt>
        <dd class="me-2 mt-1.5 inline-flex items-center rounded px-2.5 py-0.5 text-xs font-medium" [ngClass]="{
                    'bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300': booking.status === 'PENDING',
                    'bg-verde-100 text-verde-800 dark:bg-verde-900 dark:text-verde-300': booking.status === 'PAID',
                    'bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300': booking.status === 'EXPIRED' || booking.status === 'CANCELLED'
                  }">
          <svg class="me-1 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
          </svg>

          @if (booking.status === 'PENDING') {
          Aguardando
          } @else if (booking.status === 'PAID') {
          Pago
          } @else {
          {{ booking.status === 'EXPIRED' ? 'Expirado' : 'Cancelado' }}
          }
        </dd>
      </dl>

      <div class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-4">
        @if (booking.status === 'PENDING') {
        <button type="button" [routerLink]="['/payment', booking.participantId]"
          class="w-full rounded-lg border border-red-700 px-3 py-2 text-center text-sm font-medium text-red-700 hover:bg-red-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-red-300 dark:border-verde-500 dark:text-verde-500 dark:hover:bg-verde-600 dark:hover:text-white dark:focus:ring-verde-900 lg:w-auto">
          Pagar agora
        </button>
        }
        <a [routerLink]="['/raffle', booking.raffleId]"
          class="w-full inline-flex justify-center rounded-lg  border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 lg:w-auto">View
          details</a>
      </div>
    </div>
    }
  </div>
  }
  }
</section>